* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.logo-name {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.logo {
  display: flex;
  margin-left: 24px;
}
.span {
  color: gray;
}
.navbar {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
ul {
  margin-top: 1rem;
  margin-right: 24px;
}
ul li {
  list-style-type: none;
}
banner {
  display: flex;
  background-color: antiquewhite;
}
.banner-image {
  width: 60%;
  margin: 32px 24px;
}
.banner-content {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.button {
  padding: 8px auto;
  background-color: rgba(4, 9, 11, 0.763);
  width: 60%;
  height: 40px;
  margin: 0 auto;
  border: none;
  color: antiquewhite;
}
.banner-content h1 {
  color: rgba(4, 9, 11, 0.763);
}
.information-image {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  height: 60%;
}
section {
  margin-right: 24px;
  width: 60%;
}
aside {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.section-h2 {
  margin-bottom: 24px;
}
.section-last-p {
  margin-top: 32px;
  margin-bottom: 32px;
}
.section {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-bottom: 32px;
}
.aside-img img {
  width: 35%;
}
.aside-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aside-img {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}
.aside-content h2 {
  margin-top: 8px;
}
.aside-content p {
  margin-bottom: 8px;
  margin-top: 8px;
}
.start-learning-article {
  margin: 32px 72px;
}

.article-h2 {
  margin-bottom: 32px;
  text-align: center;
}
.course {
  width: 300px;
  height: 320px;
  background-color: white;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
}

.courses {
  display: flex;

  flex-flow: wrap;
  gap: 32px;
  margin-left: 72px;
}

.course img {
  width: 100%;
}
.learning-article {
  background-color: antiquewhite;
  padding-top: 32px;
}
.course h2 {
  padding: 16px 0;
}
.course h3 {
  color: dimgray;
  padding: 8px 0;
}
.course p {
  padding-bottom: 24px;
}
